{% extends "base.html" %}

{% block content %}
<div class="row-fluid"><div class="span12">
    <h1>Articles</h1>
    
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example" data-bind="dataTable: {
        dataSource: data,
        rowTemplate: 'js-template-Article-tablerow', 
        options: {
            aoColumns: [
                {sTitle: 'Id',              mDataProp:'fields.id.val'          },
                {sTitle: 'Title',           mDataProp:'fields.title.val'       },
                {sTitle: 'Category',        mDataProp:'fields.category.val'    },
                {sTitle: 'Publish from',    mDataProp:'fields.publish_from.val'},
                {sTitle: 'Created on',      mDataProp:'fields.created.val'     },
                {sTitle: 'WWW',             mDataProp: null         },
                {sTitle: 'Actions',         mDataProp: null         }
            ],
            sDom: '<\'row-fluid\'<\'span6\'l><\'span6\'f>r>t<\'row-fluid\'<\'span6\'i><\'span6\'p>>',
            sPaginationType: 'bootstrap',
            oLanguage: {
                sLengthMenu: '_MENU_ records per page'
            }
        }}">
        <thead></thead>
        <tbody></tbody>
    </table>
</div></div>
{% endblock %}

{% block js %}
    scribble.load_articles();
{% endblock %}
