<script type="text/html" id="js-template-EllaObject-detail">
    <div class="ella-object-detail">
        <p>EllaObject detail <span data-bind="text: object_type"></span></p>
        <ul class="Fields" data-bind="foreach: vals_array()">
            <li data-bind="template: $data.get_template_id()"></li>
        </ul>
    </div>
</script>

<script type="text/html" id="js-template-EllaObject-reference">
    <div class="ella-object-reference">
        <p>EllaObject reference <span data-bind="text: object_type"></span></p>
        <label>id</label>
        <input type="number" data-bind="value: $data.get('id')" name="id" />
    </div>
</script>

<script type="text/html" id="js-template-GenericField-field">
    <div class="ella-object-field">
        <label data-bind="text: get_field_name()"></label>
        <input data-bind="value: val" />
    </div>
</script>

<script type="text/html" id="js-template-array-field">
    <div class="ella-object-field">
        <label data-bind="text: get_field_name()"></label>
        <ul data-bind="foreach: val">
            <li data-bind="template: $data.get_template_id('reference')"></li>
        </ul>
    </div>
</script>

<script type="text/html" id="js-template-foreign-field">
    <div class="ella-object-field">
        <label data-bind="text: get_field_name()"></label>
        <!-- ko with: val() -->
        <div data-bind="template: $data.get_template_id('reference')"></div>
        <!-- /ko -->
    </div>
</script>

<script type="text/html" id="js-template-Article-tablerow">
    <td><label data-bind="text: $data.get('id')" /></td>
    <td class="editable">
        <strong data-bind="text: $data.get('title')" class="Show"></strong>
        <span class="Edit">
            <input type="text" data-bind="value: $data.get_observable('title')" />
            <button type="button">&#8629;</button>
        </span>
    </td>
    <td><label data-bind="text: $data.get('category').get('title')" /></td>
    <td><label data-bind="text: $data.get('publish_from')" /></td>
    <td><label data-bind="text: $data.get('created')" /></td>
    <td><a target="_blank" class="btn btn-mini" data-bind="attr: { href: $data.get('url'), title: $data.get('title') }"><i class="icon-eye-open"></i> show on page</a></td>
    <td>
        <button class="btn btn-primary btn-mini">Show</button>
        <button class="btn btn-danger btn-mini">Delete</button>
        <button class="btn btn-mini" data-bind="click: save">Save</button>
    </td>        
</script>
