<!DOCTYPE html>
<html>

<head>
    <title>Scribble Test Suite</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/qunit.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/qunit.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/underscore.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/knockout.js"></script>
    <script
        type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/lib/require.js"
        data-main="{{ STATIC_URL }}js/{% block requirejs_main %}main{% endblock %}"
    ></script>
</head>

<body>
    <h1  id="qunit-header">Scribble Test Suite</h1>
    <h2  id="qunit-banner"></h2>
    <div id="qunit-testrunner-toolbar"></div>
    <h2  id="qunit-userAgent"></h2>
    <ol  id="qunit-tests"></ol>
    <div id="qunit-fixture"></div>

    <script type="text/javascript" src="{{ STATIC_URL }}js/test.js"></script>
</body>

</html>
