<!doctype html>

<html>

<head>
	<title>API JS playground</title>
	<meta charset="utf-8">
</head>

<body>
<h1>API JS playground</h1>

<p>Here is a playground for all your experiments.</p>
<p>Try these urls:</p>
<ul>
	<li><a href="/api/r1/">API</a></li>
	<li><a href="/admin/">Admin</a></li>
</ul>

<h2>Useful resources/tools</h2>
<ul>
	<li><a href="https://addons.mozilla.org/en-US/firefox/addon/jsonview/">JSONView - FF extension for browsing API</a></li>
	<li><a href="http://django-tastypie.readthedocs.org">django-tastypie doc</a></li>
</ul>

</body>
</html>
